*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #2A00B7, #42006C);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.header{
    width: 450px;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.text{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    color: #3c009d;
}

.underline{
    width: 70px;
    height: 5px;
    background: #3c009d;
    border-radius: 10px;
    margin: 10px auto 30px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    display: flex;
    align-items: center;
    background: #eaeaea;
    border-radius: 10px;
    padding: 0 15px;
    height: 60px;
}

.input img{
    width: 22px;
    margin-right: 15px;
}

.input input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #555;
}

.input input::placeholder{
    color: #888;
}

.forgot-password{
    margin-top: 20px;
    text-align: center;
    color: #777;
    font-size: 15px;
}

.forgot-password span{
    color: #3c009d;
    cursor: pointer;
    font-weight: 600;
}

.forgot-password span:hover{
    text-decoration: underline;
}

.submit-container{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    gap: 20px;
}

.submit{
    flex: 1;
    text-align: center;
    background: #3c009d;
    color: white;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}


.submit:hover{
    background: #5b18d1;
    transform: translateY(-2px);
}

.submit:active{
    transform: scale(0.97);
}

.gray{
    background: #EAEAEA;
    color: #676767;
}
@media(max-width:500px){

    .header{
        width: 90%;
        padding: 30px 20px;
    }

    .submit-container{
        flex-direction: column;
    }

    .submit{
        width: 100%;
    }
}
